@import '../vars.scss';
@import '../functions.scss';
  
.Reservation__card {
  width:  90%;
  height: min-content;
  margin: auto 20px;
  border-radius: 20px;
  overflow: hidden;
  background-color: get-opacity($color-gray, 0.8);
  box-shadow: 5px 5px 8px get-opacity($color-black, 0.5);

    & img {
      width: 100%;
      height: 199px;
      object-fit: cover;
    }

    &--details {
        padding: 20px 30px;
        // & img {
        //   width: 20px;
        //   height: 20px;
        //   object-fit: cover;
        // }
        & div {
          padding: 10px 0;
          border-top: 0.5px solid get-opacity($color-black, 0.8);
        }
        & h5 {
         margin: 5px 0;
        }
    }
    
    &--total{
        display: grid;
        grid-template-columns: repeat(2,  1fr);
        text-align: center;
    }
}