@import '../vars.scss';
.btnContainer{
    & button {
      @media (max-width: 767px) {
        width: 150px;
      }
      height: 40px;
      font-style: normal;
      font-weight: bold;
      line-height: 21px;
      color: $color-white;
      margin: 10px;
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: $color-main;
      cursor: pointer;

      &:hover {
          box-shadow: 0px 4px 4px #afa8a9;
      }

      & p {
          margin: 0;
      }
    }
}