@import './Globales.scss';

.cardOption {
  display: grid;
  grid-template-columns: minmax(200px, 314px) 1fr;
  box-sizing: border-box;
  column-gap: 20px;
  margin-bottom: 22px;
  margin: 0 auto;
  max-width: 778px;
  height: 219px;
  border-bottom: get-opacity($color-black, 0.8) 1px solid;
  &__link {
    color: $color-black;
    img {
      height: 197px;
      width: 100%;
      border-radius: 20px;
    }
  }
  &__details {
    display: grid;
    height: 219px;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 15% 35%;
    &--left {
      p {
        font-size: $description-card-size;
      }
      a {
        font-family: $fuente-primaria;
        text-decoration: none;
        font-size: $title-card-size;
        color: $color-black;
        h2 {
          font-weight: bold;
          margin: 20px 0;
        }
      }
      h3 {
        font-family: $fuente-secundaria;
        font-size: $description-card-size;
        font-weight: 400;
        margin-bottom: 5px;
      }
    }
    & img {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
      margin-top: 10px;
    }
    &--right {
      grid-column: 2 / span 2;
      grid-row: 3 / span 1;
      h3 {
        margin: 3px 0;
        margin-top: 10px;
        font-size: $description-card-size;
        font-family: $fuente-secundaria;
        font-weight: 400;
        span {
          font-weight: 600;
        }
      }
    }
  }
}