@import '../vars';

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  border-top: 2px inset get-opacity($color-black, 0.7);
  height: 70px;
  background-color: $background-footer;

  ul {
    padding-left: 0;
    list-style: none;
    display: flex;

    li {
      margin: 0 10px;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: $color-black;
      }
    }
  }
}