@import '../vars';
@import '../functions.scss';

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: inset 1px 1px 3px $color-black;
  height: 70px;
  background-color: $color-background;
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;

    li {
      margin: 0 10px;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: $color-black;
        font-weight: 600;
      }
    }
  }

  p {
    margin: 0;
    font-weight: 600;
  }
}