@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

$color-main: #FF5A5F;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #d9d9d9;
$background-footer: #f7f7f7;
$description-card-size: 14px;
$title-card-size: 20px;
$font-primary: 'Nunito',
sans-serif;
$font-secundary: 'Roboto',
sans-serif;

@function get-opacity($color, $weight) {
    @return rgba($color, $weight);
}

@each $text, $size in (h1: 40px, h3: 30px, h5: 20px, p: 14px, small: 12px) {
  #{$text} {
    font-size: $size;
  }
}

* {
    padding: 0;
    margin: 0;
    font-family: $font-primary;
    box-sizing: border-box;

}

body {
    height: 100%;
}

h1 {
    margin: 0;
    padding: 0;
}

main {
    background-color: #8f9cd5;
    height: 100%;
}