@import '../vars';

.header {
    background-color: $color-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 2px $color-black;
}

.brand {
    display: flex;
    text-decoration: none;
    color: black;

    &__logo {
        margin: 15px;
        width: 40px;
        height: 40px;
    }

    & h1 {
        margin: auto 0;
    }
}

.search {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $color-black;
    border-radius: 50px;

    &__input {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 20px;
        border: white;


        & img {
            width: 25px;
            margin-right: 5px;
            cursor: pointer;
        }

        & input {
            border: none;
            width: 150px;
            padding: 5px;
            border: white;
        }
    }

    &__date {
        border-right: 1px solid gray;
        padding: 0 20px;
        cursor: pointer;

    }

    &__category {
        padding: 0 20px;
        cursor: pointer;
        & input {
            border: none;
            width: 150px;
            padding: 5px;
            border: white;
        }
    }
}

.search:hover {
    box-shadow: 1px 1px 5px $color-black;
}

.btnContainer {
    display: flex;
    align-items: center;
    margin: 0;
    
    &-btn:hover {
        background-color: $color-main;
        border: none;
    }

    &-btn {

        font-style: normal;
        font-weight: bold;
        line-height: 21px;
        color: $color-black-secundary;
        margin: 10px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: $color-white;
        border: solid 2px $color-black;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 4px 4px #afa8a9;
            color: $color-white;
        }

        & p {
            margin: 0;
        }
    }
}