@import '../vars.scss';
@import '../functions.scss';

.header {
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;;
  align-items: center;
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid  get-opacity($color-black, 0.5);
  @media (max-width: 767px) {
    display: grid;
    grid-template-areas: "logo buttons"
                         "search search";
    justify-content: space-around;
  }

  &__brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-black;
    @media (max-width: 767px) {
      grid-area: logo;
    }
    & p {
      margin: auto 5px;
      font-size: 35px;
    }
    & img {
      margin: 10px;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    &:hover {
      text-decoration: none;
      color: #FF5A5F;
    }
  }

  &__search {
    width: 546px;
    // width: 40%;
    height: 40px;
    // padding: 5px;
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    align-items: center;
    background: get-opacity($color-black, 0.03);
    border: 1px solid  get-opacity($color-black, 0.5);;
    border-radius: 20px;
    @media (max-width: 767px) {
      grid-area: search ;
    }

    &--button:focus {
      outline: none;
    }

    &--button {
      border: none;
      background: none;
      width: fit-content;
    }

    & img {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    &:hover {
      border-color: $color-main;
    }

    &--input {
      border: none;
      width: 100%;
      padding: 5px;
      padding-left: 30px;
      background: get-opacity($color-black, 0);
    }

    &--input:focus,
    &--date:focus,
    &--dateEnd:focus {
      outline: none;
    }

    &--date {
      width: 86%;
      border: none;
      background: get-opacity($color-black, 0);
      cursor: pointer;
    }

    &--dateEnd {
      width: 86%;
      border: none;
      background: get-opacity($color-black, 0);
      cursor: pointer;
      grid-column: 3 / 4;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    margin: 0;
    @media (max-width: 767px) {
      grid-area: buttons;
    }

    & button {
      @media (max-width: 767px) {
        width: 150px;
      }
        height: 40px;
        font-style: normal;
        font-weight: bold;
        line-height: 21px;
        color: $color-white;
        margin: 10px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: $color-main;
        cursor: pointer;

      &:hover {
          box-shadow: 0px 4px 4px #afa8a9;
      }
    }
  }
}

.fadeInDown{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    from{
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    }
    to{
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
}