@import '../vars';

.event_details {
  padding: 20px 40px;
  display: grid;
  grid-template-rows: 30% 70%;
  align-content: space-between;
  gap: 20px;


  &__container {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr;
    gap: 20px;
    justify-content: center;
  }
}