@import '../vars';
@import '../components/PayDetails.scss';
@import '../components/BillDetails.scss';

.Reservation {
  margin: 40px 5%;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px 20px;
}