@import './vars.scss';
@import './functions.scss';

* {
    padding: 0;
    margin: 0;
    font-family: $font-primary;
    box-sizing: border-box;

}

body {
    height: 100%;
}

h1 {
    font-size: 40px;
    color: $color-black;
}

h3 {
    font-size: 30px;
    color: $color-black;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    color: $color-black;
}

p,
figure,
h5 {
    margin: 0;
}

a,
p,
input,
span,
button {
    font-size: 16px;
}

small {
    font-size: 12px;
}

img {
    width: 100%;
}

main {
    background-color: #8f9cd5;
    height: 100%;
}

.list-events {
    list-style: none;
}